{% load static %}
<html>
  <head>
    <title>Student Registration</title>
    <link rel="stylesheet" href="{%static 'home.css' %}">
  </head>
  
<body>
  <div id="box">
    <h2 id="heading">Edit Student</h2>
    <form method="POST">
      {% csrf_token %}
      <label>Name:</label><br>
      <input type="text" name="name" value="{{ student.name }}"><br><br>
    
      <label>Email:</label><br>
      <input type="email" name="email" value="{{ student.email }}"><br><br>
    
      <label>Course:</label><br>
      <input type="text" name="course" value="{{ student.course }}"><br><br>
    
      <button type="submit">Update Student</button>
    </form>
    
    <a href="/" id="back">Back to List</a>
    
  </div>
</body>
</html>

